* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

#hero {
  min-height: 100vh;
  background-image: url(images/pink-rose.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
}

#contact {
  background-image: url(images/meadow.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  background-attachment: fixed;
}

nav {
  background-color: rgb(124, 200, 91);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
  font-family: "Josefin Sans", sans-serif;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  text-shadow: 2px 2px 2px rgba(252, 156, 225, 0.85);
}

nav li:first-child {
  margin-right: auto;
  font-family: pacifico;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(252, 156, 225, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar a:hover {
  text-shadow: 2px 2px rgba(124, 200, 91, 0.85);
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

h1 {
  font-size: 5em;
  font-family: pacifico;
  font-weight: 100;
}

.sub-heading {
  font-size: 3em;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.center-text {
  display: flext;
  align-items: center;
  justify-content: center;
  height: 100vh;
  align-content: center;
  text-align: center;
}

#about {
  background-color: rgb(245, 128, 212);
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  flex-direction: column;
  box-shadow: 20px 20px 50px 5px rgb(227, 56, 179) inset;
}

.wrapper {
  margin: 50px auto;
  width: 70%;
}

.abt-img {
  border-radius: 5%;
  /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.30); */
  border: outset 3px rgb(161, 228, 132);
  margin: 10px;
  float: left;
}

#contact {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  font-family: josefin sans, sans-serif;
  text-decoration: none;
  color: white;
  display: inline-block;
  min-width: 100%;
}

.icon a {
  text-decoration: none;
  color: white;
}

form {
  background-color: rgba(252, 156, 225, 0.5);
  width: 640px;
  margin: 50px auto;
  padding: 55px 30px;
  max-width: 97%;
}

form .title h2 {
  letter-spacing: 6px;
  border-bottom: 1px solid rgb(124, 200, 91);
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 12px;
}

form .half {
  display: flex;
  justify-content: space-between;
}

form .half .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 48%;
}

form label {
  display: block;
  font-size: 13px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
}

form .half .item input {
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  background: transparent;
  font-size: 17px;
}

form .full {
  margin-bottom: 24px;
}

form .full textarea {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
}

form .action {
  margin-bottom: 32px;
}

form .action input {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px 0 22px;
  margin-right: 10px;
}

font .action input[type="submit"] {
  background: white;
  color: black;
}

form .icon a {
  border: 1px solid white;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  font-weight: 600;
  width: 38px;
  margin-right: 10px;
}

form .half .item input:focus,
form .full textarea:focus,
form .action input[type="reset"]:hover,
form .icon a:hover {
  background: rgba(255, 255, 255, 0.5);
}

@media (max-width: 400px) {
  form .half {
    flex-direction: column;
  }

  form .half .item {
    width: 100%;
  }

  form .action {
    display: flex;
    flex-direction: column;
  }

  form .action input {
    margin-bottom: 10px;
    width: 100%;
  }
}

/* changing font families */
.abt-heading {
  font-family: pacifico;
  font-weight: lighter;
  margin-bottom: 10px;
  font-size: 1em;
}

.abt-subheading {
  font-family: josefin sans;
  font-size: 1rem;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
